body {
    margin-top: 50px;
    background-color: gray;
}


.container {
    display: flex;
    justify-content: center;
}

.sub-container {
    display: flex;
    flex-direction: column;
    background-color: white;
}

#box {
    box-sizing: border-box;
    /* border: solid black; */
    width: 30px;
    height: 30px;
}

.color-change {
    background-color: black;
}