@font-face { font-family: MorningRainbow; src:url('./MorningRainbow.ttf'); }

body {
    font-family: MorningRainbow;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: rgb(37, 37, 37);
}

h1 {
    color: white;
}
.container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width:600px;
    box-shadow: black 10px 10px 25px -15px;
    transition: 0.1s;
}

.container-fx {
    border: solid white 2px;
}

.sub-container {
    display: flex;
    flex:1;
    flex-direction: column;
    
}

.button {
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
    width: 200px;
    height: 70px;
    transition: 0.07s;

}

.button-fx {
    border: solid white 2px;
    box-shadow: black 10px 10px 25px -15px;
}

.box {
    aspect-ratio: 1 / 1;
}
