@font-face { font-family: MorningRainbow; src:url('/Etch-a-Sketch/MorningRainbow.ttf'); }

body {
    font-family: MorningRainbow;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
    background-color: rgb(40, 44, 61);
    user-select: none;
}

h1 {
    color: white;
    margin: 0px;
    margin-bottom: 2rem;
    font-size: 17px;
    text-decoration: underline;
    overflow:hidden;
}

.main {
    display:flex;
    border: solid white 2px;
    flex:1;
}

.title {
    display: block;
    color: white;
    /* font-size: 5em; */
    font-size: clamp(3rem, 1rem + 5vw ,5rem);

}

.button-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 15px 15px 15px;
    background-color: rgb(23, 25, 34);
}

.container {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width:35em;
    box-shadow: black 10px 10px 25px -15px;
    transition: 0.1s;
    background-color: white;
}

.sub-container {
    display: flex;
    flex:1;
    flex-direction: column;
}

.button {
    color: white;
    font-size: 18px;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 20px;
    width: 200px;
    height: 70px;
    transition: 0.02s;

}

.button-fx {
    border: solid white 2px;
    box-shadow: black 10px 10px 25px -15px;
}

.button-fx2 {
    border: solid white 3px;
}

.box {
    aspect-ratio: 1 / 1;
}


@media all and (max-width: 500px) {
    .main {
        width:22rem;
    }

    .button {
        font-size: 10px;
    
        border-radius: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 100px;
        height:20px;
    }
}
